<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">


<body>
    <main>
    	<div th:replace="~{/cart/view :: shopping-cart}"></div>
    	
    	<br>
    	<br>
    	<br>
        <div style="border: 3px outset #419cc3;" >
        	<div ><h2>ORDER PURCHASING</h2></div>
        	<div class="panel-body" >
        		<div class="row">
        			<div class="form-group col-sm-6">
        				<div style="border-left: 3px outset #419cc3;"><h4>Purchaser:</h4></div>
        				<div class="form-control" id="username">[[${#request.remoteUser}]]</div>
        			</div>
        			<div class="form-group col-sm-6">
        				<div style="border-left: 3px outset #419cc3;"><h4>Order date</h4></div>
        				<div class="form-control">{{order.createDate | date :'dd-MM-yyyy'}}</div>
        			</div>
        		</div>
        		<div class="row">
        			<div class="form-group col-sm-12">
        				<div style="border-left: 3px outset #419cc3;"><h4>Shipping address</h4></div>
        				<textarea ng-model="order.address" class="form-control"></textarea>
        			</div>
        		</div>
        	</div>
        	  <div class=" text-center">
        	  	<button ng-click="order.purchase()" class="btn btn-success">Purchase</button>
        	  </div>
        </div>
    </main>
</body>

</html>